/*стили для таблицы*/
.table-data {
	width: 100%;
	padding: 0 15px;
	/*border: 1px solid #ccc;*/
	/*border-radius: 5px;*/
	overflow: hidden;
}
.table-data .table-header {
	padding: 15px 0;
	/*background-color: #F0F0F0;*/
	border-bottom: 1px solid #ccc;
}
.table-data .table-body {
	/*background-color: #F0F0F0;*/
}
.table-data .table-body .panel-group {
	margin-bottom: 0;
	border-radius: 5px;
	/*background-color: #fff;*/
}
.table-data .table-body .panel {
	border: none;
	/*border-bottom: 1px solid #E4E4E4;*/
	margin-bottom: 0;
}
.table-data .table-body .panel:last-child {
	border-bottom: none;
	margin-bottom: 15px;
}
.table-data .table-body .panel-heading {
	background-color: #fff;
}

.panel-body {
	padding: 1px;
}

.panel-body .row {
	/*padding-left: 15px;*/
	/*padding-right: 15px;*/
	/*padding-bottom: 15px;*/
	/*padding-top: -15px;*/
	background: #f7f7f7;
	margin-left: 0px;
	margin-right: 0px;
	border-bottom: 1px solid #dddddd;
}

